.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
}

.container {
    div {
        .button-tao-don {
            margin: 10px;
        }
    }
    .news-feed {
        // background-color: aliceblue;
        // box-shadow:
        // 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        // 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        // 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        // margin: 10px 10px 0px 10px;
        // height: 100%;
        padding: 0px 0px 0px 10px;
        width: 100%;
    }
    .google-map {
        background-color: aliceblue;
        box-shadow:
        0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        margin: 10px 10px 0px 10px;
        height: 100%;
        padding: 10px;
        width: 100%;
    }
}