<div class="wrapper fadeInDown" *ngIf="!statusdangKy">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first" style="padding: 0px 0px 20px 0px;">
			<app-logo></app-logo>
		</div>

		<!-- Login Form -->
		<form [formGroup]="formDangNhap" (ngSubmit)="dangNhap()">
			<input type="text" id="login" formControlName="TenDangNhap" class="fadeIn second" name="login"
				placeholder="Tên tài khoản">
			<input type="password" id="password" formControlName="Password" class="fadeIn third" name="login"
				placeholder="Mật khẩu">
			<input type="submit" class="fadeIn fourth" value="Đăng nhập">
		</form>

		<!-- Remind Passowrd -->
		<div id="formFooter">
			<!-- <a class="underlineHover" href="#">Bạn quên mật khẩu?</a> -->
			<a class="underlineHover" (click)="checkDangKy()">Đăng ký</a>
		</div>

	</div>
</div>

<div class="wrapper fadeInDown" *ngIf="statusdangKy">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first" style="padding: 0px 0px 20px 0px;">
			<app-logo></app-logo>
		</div>
		<!-- Login Form -->
		<form [formGroup]="formDangKy" (ngSubmit)="dangKy()">
			<input (keyup)="checkUser()" type="text" id="login" formControlName="TenDangNhap" class="fadeIn second"
				placeholder="Tên tài khoản">
			<input (blur)="checkEmail()" (keyup)="checkEmail()" type="text" id="login" formControlName="Email"
				class="fadeIn second" placeholder="Email tài khoản">
			<div class="text-arlet" *ngIf="!checkValidEmail">
				<span>Email không đúng định dạng</span>
			</div>
			<input type="text" id="login" formControlName="HoVaTen"
			class="fadeIn second" placeholder="Họ và tên">
			<input (blur)="checkPassword()" (keyup)="checkPassword()" type="password" id="password"
				formControlName="Password" class="fadeIn third" placeholder="Mật khẩu">
			<div class="text-arlet" *ngIf="!checkValidPassword">
				<span>{{arletPassword}}</span>
			</div>
			<input (keyup)="checkPassword()" type="password" id="password" formControlName="rePassword" class="fadeIn third"
				placeholder="Nhập lại Mật khẩu">
			<div class="text-arlet" *ngIf="!checkComparePassword">
				<span>{{arletRePassword}}</span>
			</div>
			<input
				[disabled]="!formDangKy.valid || !checkValidPassword || !checkValidUsername || !checkValidEmail || !checkComparePassword"
				type="submit" class="fadeIn fourth" value="Đăng ký">
		</form>

		<!-- Remind Passowrd -->
		<div id="formFooter">
			<!-- <a class="underlineHover" href="#">Bạn quên mật khẩu?</a> -->
			<a class="underlineHover" (click)="checkDangKy()">Bạn đã có tài khoản, đăng ký ngay</a>
		</div>

	</div>
</div>