<div class="container">
  <div class="card">
    <table class="table table-hover shopping-cart-wrap">
      <thead class="text-muted">
        <tr>
          <th scope="col">Thông tin suất ăn</th>
          <th scope="col" width="120"></th>
          <th scope="col" width="120">Trạng thái</th>
          <th scope="col" width="200" class="text-right">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <figure class="media">
              <!-- <div class="img-wrap"><img src="http://bootstrap-ecommerce.com/main/images/items/2.jpg" class="img-thumbnail img-sm"></div> -->
              <figcaption class="media-body">
                <h6 class="title text-truncate">Ăn cùng với: Tuyết Dương</h6>
                <dl class="param param-inline small">
                  <dt>Thời gian ăn cùng: </dt>
                  <dd>6-5-2019</dd>
                </dl>
                <dl class="param param-inline small">
                  <dt>Số lượng người cùng ăn: </dt>
                  <dd>3</dd>
                </dl>
              </figcaption>
            </figure>
          </td>
          <td>
            <a href="">Xem chi tiết</a>
          </td>
          <td>
            <div class="price-wrap">
              <span>Đang mở</span>
            </div>
          </td>
          <td class="text-right">
            <!-- <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist">
              <i class="fa fa-heart"></i></a> -->
            <a href="" class="btn btn-outline-danger"> × Hủy ăn cùng</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div> <!-- card.// -->
  <div class="pagination">
     <app-pagination style="width: 100%;"></app-pagination>
  </div>
</div>



