/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr.css';
@import '~font-awesome/scss/font-awesome.scss';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

.modal-backdrop {
    z-index: -1;
}
.modal-open .modal {
    background: rgba(0, 0, 0, 0.5)
}

.toast.toast-success{
    background-color: #51A351 !important;
  }
  .toast.toast-error{
    background-color:#BD362F !important;
  }
  .toast.toast-warning{
    background-color: #f89406 !important;
  }
  .toast-success , .toast-error, .toast-warning{
    opacity: 1 !important;
  }
  
  .ng-select .ng-select-container {
    border: 1px solid #e9ecef !important;
    border-radius: 2px !important;
    }
  
    .ng-select:focus .ng-select-container:focus {
      border: 1px solid #e9ecef !important;
      border-radius: 2px !important;
      font-family: "Nunito Sans", sans-serif;
      }